table th {
    background-color: blue;
    color: #FFF;
    width: 110px;
}

table {
    background-color: blue;
}
table, th, td {
    border: 2px solid gray;
}

table td {
   color:white; 
   background-color:rgb(16, 77, 42);
   text-align: center;
}